.sbi-logo-link {
  position: relative;
}

.sbi-logo-container {
  width: 300px; 
  height: 300px;
  margin-bottom: 2px; 
}

.sbi-logo {
  display: flex;
  justify-content: left; 
  margin-top: -150px;
  margin-left: -650px;
  width: 200px; 
  height: 230px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #231b67;
  min-height: 100vh; /* Ensure the login page covers the whole viewport height */
  padding-top: 80px; /* Adjust the padding to accommodate the logo */
}

.login-container {
  width: 300px;
  height: 350px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-container form {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button[type="submit"] {
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.forgot-password {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: #007bff;
}

.forgot-password:hover {
  text-decoration: underline;
}

.create-account {
  margin-top: 20px;
}

.create-account p {
  text-align: center;
  color: #fff;
}

.create-account a {
  color: #fff;
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}
