.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Increased height for better visibility */
  width: 100%;
  padding: 10px 30px; /* Increased padding */
  box-sizing: border-box;
  background-color: #00b5ef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.main-navigation__header {
  display: flex;
  align-items: center;
}

.main-navigation__tabs {
  display: flex;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.main-navigation__tabs li {
  position: relative;
  cursor: pointer;
  padding: 10px 25px; /* Increased padding */
  font-size: 18px; /* Adjusted font size */
  color: #ffffff;
  margin-right: 20px;
  margin-left: 20px;
}

.main-navigation__tabs li:hover {
  background-color: #292075;
}

.main-navigation__tabs li:hover .main-navigation__sub-tabs {
  display: block;
}

.main-navigation__sub-tabs {
  position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    list-style: none;
    padding: 10px;
    margin: 2.5px 10px;
    z-index: 1;
}

.main-navigation__sub-tabs li {
  padding: 5px 20px; /* Increased padding */
  cursor: pointer;
  font-size: 16px; /* Adjusted font size */
  color: #333333; /* Darkened text color */
}

.main-navigation__sub-tabs li:hover {
  background-color: #f2f2f2;
}

.main-navigation__search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 230px; /* Adjusted width for better spacing */
  margin-right: 20px; /* Increased margin for better spacing */
}

.main-navigation__search-input {
  padding: 8px;
  border: none;
  outline: none;
  margin-right: 10px;
}

.main-navigation__location-pin {
  width: 30px; /* Reduced width for better appearance */
  height: auto; /* Adjusted height */
  margin-left: 10px; /* Added margin for better spacing */
}
.main-navigation__suggestions {
  position: absolute;
  top: 47%; 
  left: 0;
  z-index: 999; 
  background-color: white; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  list-style: none; 
  padding: 0;
}

.main-navigation__suggestions li {
  padding: 8px 12px;
  cursor: pointer;
}

.main-navigation__suggestions li:hover {
  background-color: #f0f0f0; 
}
.main-navigation__tabs-yono {
  padding: 10px 20px; /* Increased padding */
  margin-left: 30px; /* Decreased margin for closer spacing */
  color: #ffffff; /* Adjusted text color */
  font-size: 18px; 
  background: linear-gradient(to right, #cc7a69, #5d79cb); 
}
.aboutus1 {
  text-decoration: none;
  color: #000000; 
}

.aboutus1:hover {
  color: #007bff; 
}